h1{
    text-align: center;
}
p{
    color: white;
}
/******************** nav bar *****************/
.md-3{
    background-color: rgb(42, 41, 41);;
}
.main-navbar{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
}
.tech-shop{
    text-decoration: none; 
    font-size: 40px; 
    color: white; 
    margin-left: 20px; 
    width: fit-content;
}
/******************** nav bar start *****************/
.all-icons{
    display: flex; 
    justify-content: 
    flex-end; gap: 80px; 
    margin-top: 13px; 
    margin-right: 50px;
}
.search-icon{
    width: 35px;
}
.cart-icon{
    width: 30px
}
.user-icon{
    width: 30px;
}
.modal-content{
    background-color: rgb(42, 41, 41);;
}
.modal-title{
    color: white;
}
.mb-0{
    color: white;
}
.Signup-button{
    background-color: #ff4500; 
    width: 100%; border: none; 
    border-radius: 2px; 
    padding: 5px; 
    color: white;
}
.fb-button{
    width: 100px; 
    color: white; 
    border: none; 
    background-color: rgb(24, 119, 242);
}
.Goog-button{
    width: 100px; 
    color: white; 
    border: none; 
    background-color: rgb(255,69,0);
}
.twitter-button{
    width: 100px; 
    color: white; 
    border: none; 
    background-color: rgb(29, 161, 242);
}
/******************** icons end *****************/
/******************** nav bar end *****************/

/******************** main start *****************/
/******************** carousel start *****************/
.para-caro{
    color: white; 
    font-size: 20px;
}
.caro-head{
    color: white; 
    font-size: 50px; 
    font-weight: 700;
}
#caro-price{
    font-size: 20px; 
    margin: 5px; 
    color: white; 
    display: inline;
}
#caro-off-price{
    font-size: 20px; 
    margin:5px; 
    color: white; 
    display: inline; 
    text-decoration: line-through; 
    color: rgb(170, 170, 170);
}
#caro-button{
    background-color: orangered; 
    border: none;
}
/******************** carousel end *****************/
/******************** featured prod start *****************/
#prod{
    width: 150px;
}
#Featu-prod-price{
    font-size: 20px; 
    font-weight: 600; 
    margin: 5px; 
    color: white; 
    display: inline;
}
#Featu-prod-offprice{
    font-size: 15px; 
    margin:5px; 
    color: white; 
    display: inline; 
    text-decoration: line-through; 
    color: rgb(170, 170, 170);
}
/******************** featured prod end *****************/
/******************** cards start *****************/
.products-head{
    display: flex;
    justify-content: space-evenly;
}
.prod-head{
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    padding: 5px;
}
.card-row{
    border: 1px solid white; 
    width: 300px; 
    border-radius: 4px;
}
.card-title{
    color: white; 
    font-size: 30px; 
    font-weight: 500;
}
.card-details{
    color: white; 
    font-size: 20px; 
    font-weight: 200;
}
hr{
    color: white; 
    width: 275px;
}
#card-price{
    font-size: 30px; 
    font-weight: 600; 
    margin:5px; 
    color: white; 
    display: inline;
}
#card-offprice{
    font-size: 20px; 
    margin:5px; 
    color: white; 
    display: inline; 
    text-decoration: line-through; 
    color: rgb(170, 170, 170);
}
#card-cartbutton{
    background-color: orangered; 
    border: none; 
    width: 260px; 
    border-radius: 4px; 
    margin: 10px;
}
.lst-card{
    border: 1px solid white; 
    width: 300px; 
    border-radius: 4px; 
    align-content: center;
}
.lst-cardtxt{
    color: white;
    text-align: center; 
    width: 200px;
    margin-left: 30px;
}
.adv-container{
    width: 200px; 
    display: flex;
    justify-content: space-between;
}
.adv{
    color: white; 
    font-weight: 600; 
    padding: 0px 10px;
}
.advtxt{
    display: inline; 
    color: white; 
    font-weight: 100;
}
.foot-container{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
}
.tech-place{
    width: 300px; 
    background-color: black; 
    border: 1px solid white;
}
.subs-but{
    margin-top: 10px; 
    background-color: rgb(255, 94, 0); 
    color: white; 
    border-radius: 3px; 
    border: 1px solid black;
    font-weight: 600;
}
.M{
    color: white; 
    font-weight: 500; 
    font-size: 30px;
}
.foot-cont{
    text-decoration: none; 
    color: white;
}
.foot-icns{
    display: flex; 
    justify-content: flex-end; 
    gap: 20px;
}
.foot-bot{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
}
footer{
    background-color: black;
    padding: 1%;
    align-content: center;
}
.icon :hover{
    transform: scale(2);
    transition: 0.5s;
}
.prod-head:hover{
    background-color: orangered;
    transition: 0.5s;
    border-radius: 5px;
}
input::placeholder{
    color: white;
    padding: 5px;
}
.form-control::placeholder{
    color: white;
}
.form-control{
    background-color: rgb(42, 41, 41);

}